@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.brand {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
}

.brand_name {
  margin-right: 1rem;
  font-style: bold;
}

.brand_logo {
  width: 3rem;
  height: auto;
}
.boxes {
  display: flex;
  height: 100%;
  align-items: flex-start;
}
.search_box {
  display: flex;
  flex-direction: column;
  line-height: 3.5rem;
  align-items: flex-start;
  padding-left: 1rem;
  background: #B7B0A1;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
              0 2px 4px -1px rgba(0,0,0,.06);
  border-radius: 25px;
  padding-bottom: 1rem;
  margin: 1rem;
  margin-bottom: 0;
  width: 50%;
  min-width: 41rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  line-height: 3.5rem;
  align-items: flex-start;
  justify-content: center;
}
.search_input {
  display: flex;
  margin-bottom: 2rem;
}
.destination_input {
  width: 100%;
}

.image_label_div {
  display: flex;
}
.image_label_div label {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.input_svg{
  width: 2.5rem;
  height: auto;
}

.continue {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem 2rem;
  background: #8AA8BE;
  border-radius: 25px;
  margin-left: auto;
  margin-right: 1rem;
}

.continue:hover {
  background: #577086;
  cursor: pointer
}
.continue:active {
  background: #435867;
}

input {
  font-size: 1.3rem;
}

input:focus,
.continue:focus {
  outline: none;
}

.result_box {
  background-color: #AA5F5C;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
              0 2px 4px -1px rgba(0,0,0,.06);
  border-radius: 25px;
  margin-left: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 50%;
  min-width: 41rem;
}

#img {
  height: 23rem;
  width: auto;
  margin-right: 2rem;
}
h3 {
  color: white;
}
h3 span{
  font-weight: normal;
  margin-left: 1rem;
}
.info_svg{
  width: 1.8rem;
  margin-right: 0.5rem;
}
.infos {
  display: flex;
}

.hidden {
  display: none
}

@media (max-width: 80rem){
  .boxes {
    flex-direction: column;
  }
  .img_container {
    width: 100%;
  }
  #img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 44rem){
  .boxes {
    flex-direction: column;
  }
  .search_box,
  .result_box {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    min-width: 20rem;
  }
  .search_input {
    flex-direction: column;
  }
  .image_label_div {
    margin-bottom: 1rem;
  }
  input {
    padding: 1rem;
    max-width: 18rem;
  }
}
